.services {
  padding: 20px;
  text-align: center;
}

.services h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service-card {
  background-color: #292929; /* Changed to Valorant dark gray */
  padding: 20px;
  border: 1px solid #ece8e1; /* Changed to Valorant navy */
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card img {
  width: 100%; /* Make the images responsive */
  height: auto; /* Maintain aspect ratio */
  max-height: 150px; /* Limit the height of the images */
  object-fit: cover; /* Ensure images fit within the container */
  border-radius: 5px; /* Add slight rounding for a polished look */
}

@media (max-width: 768px) {
  .services h1 {
    font-size: 1.8rem;
  }

  .service-cards {
    grid-template-columns: 1fr;
  }

  .service-card img {
    max-height: 100px;
  }
}
